<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="MyRule"> <match url="^(.*)$" /> 
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?/{R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <add value="http://givtek.com/index.php" />
            </files>
        </defaultDocument>
        <security>
         <requestFiltering>
            <hiddenSegments applyToWebDAV="false">
               <add segment="application" />
               <add segment="system" />
            </hiddenSegments>
         </requestFiltering>
      </security>
    </system.webServer>
</configuration>  